In [1]:
# power
print(10 ** 4)

10000

In [2]:
# variables
msg = 'test'
print(msg)

test

In [3]:
msg[0]

't'

In [4]:
msg[1]

'e'

In [5]:
# list
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
print(data_list)

# type
print('type of variable:', type(data_list))

print(data_list[1])
print(len(data_list))

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
type of variable: <class 'list'>
2
10

In [6]:
print(data_list * 2)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 1, 2, 3, 4, 5, 6, 7, 8, 9, 10]

In [7]:
data_list = [1, 2, 3, 4, 5, 6, 7, 8, 9, 10]
data_list.append(11)
print(data_list)

[1, 2, 3, 4, 5, 6, 7, 8, 9, 10, 11]

In [8]:
data_list.remove(5)
print(data_list)

[1, 2, 3, 4, 6, 7, 8, 9, 10, 11]

In [9]:
data_list.pop()
print(data_list)

[1, 2, 3, 4, 6, 7, 8, 9, 10]

In [10]:
data_list.pop(2)
print(data_list)

[1, 2, 4, 6, 7, 8, 9, 10]

In [11]:
# dictionary
dic_data = {'apple': 100, 'banana': 100, 'orange': 300, 'mango': 400, 'melon': 500}
print(dic_data['melon'])

500

In [12]:
print(dic_data['orange'])

300

In [13]:
print(dic_data['apple'] + dic_data['orange'])

400

In [14]:
dic_data['kiwi'] = 200
print(dic_data)

{'apple': 100, 'kiwi': 200, 'mango': 400, 'orange': 300, 'banana': 100, 'melon': 500}

In [15]:
dic_data.update({'grape': 200})
print(dic_data)

{'apple': 100, 'kiwi': 200, 'mango': 400, 'orange': 300, 'banana': 100, 'melon': 500, 'grape': 200}

In [16]:
del dic_data['grape']
print(dic_data)

{'apple': 100, 'kiwi': 200, 'mango': 400, 'orange': 300, 'banana': 100, 'melon': 500}

In [17]:
result = dic_data.pop('kiwi', None)
print(result)
print(dic_data)

200
{'apple': 100, 'mango': 400, 'orange': 300, 'banana': 100, 'melon': 500}

In [18]:
# tuple
# immutable
tuple_data = (1, 2, 3, 4, 5)
print(tuple_data)

(1, 2, 3, 4, 5)

In [19]:
tuple_data2 = (6, 7)
tuple_data3 = tuple_data + tuple_data2
print(tuple_data3)

(1, 2, 3, 4, 5, 6, 7)

In [21]:
tuple_data3 = tuple_data3[2:4:1]
print(tuple_data3)

(3, 4)

In [22]:
print(tuple_data3 == (3, 4))

True

In [23]:
print(tuple_data)
print(2 in tuple_data)

(1, 2, 3, 4, 5)
True

In [26]:
# set
set_data = set([1, 2, 3])
print(type(set_data))
print(set_data)

<class 'set'>
{1, 2, 3}

In [25]:
set_data2 = set([1, 2, 3, 2, 3, 1, 2])
print(set_data2)

{1, 2, 3}

In [27]:
set_data.add(4)
print(set_data)

{1, 2, 3, 4}

In [28]:
set_data.remove(3)
print(set_data)

{1, 2, 4}

In [29]:
set_data.clear()
print(set_data)

set()

In [32]:
# union
A = {1, 2, 3}
B = {3, 4, 5}
C = A | B
print(C)
D = A.union(B)
print(D)

{1, 2, 3, 4, 5}
{1, 2, 3, 4, 5}

In [33]:
# intersection
C = A & B
print(C)
D = A.intersection(B)
print(D)

{3}
{3}

In [34]:
# difference 
C = A - B
print(C)
D = A.difference(B)
print(D)

{1, 2}
{1, 2}

In [35]:
# symmetric difference
C = A ^ B
print(C)
D = A.symmetric_difference(B)
print(D)

{1, 2, 4, 5}
{1, 2, 4, 5}

In [36]:
list_data = [1, 2, 2, 3, 4, 4]
set_data3 = set(list_data)
print(set_data3)
print(type(set_data3))

{1, 2, 3, 4}
<class 'set'>

In [39]:
# bool
1 == 1

True

In [40]:
(1 > 0) and (5 < 10)

True

In [41]:
(1 > 0) or (5 > 10)

True

In [42]:
not (1 < 0)

True

In [45]:
# if
print(data_list)
x = 4
if x in data_list: 
    print('{0} is in the list'.format(x))
else:
    print('{0} is not in the list'.format(x))

print('out of if statement')

[1, 2, 4, 6, 7, 8, 9, 10]
4 is in the list
out of if statement

In [46]:
# for
total = 0
for num in [1, 2, 3]:
    print('num:', num)
    total += num
    
print(total)

num: 1
num: 2
num: 3
6

In [47]:
for dic_key in dic_data:
    print(dic_key, dic_data[dic_key])

apple 100
mango 400
orange 300
banana 100
melon 500

In [48]:
# range
for i in range(11):
    print(i)

0
1
2
3
4
5
6
7
8
9
10

In [49]:
for i in range(1, 11, 2):
    print(i)

1
3
5
7
9

In [50]:
for key, value in dic_data.items():
    print(key, value)

apple 100
mango 400
orange 300
banana 100
melon 500

In [52]:
# comprehension 
data_list = [1, 2, 3, 4, 5]
data_list2 = [i * 2 for i in data_list]
print(data_list2)

[2, 4, 6, 8, 10]

In [53]:
data_list3 = [i * 2 for i in data_list if i % 2 == 0]
print(data_list3)

[4, 8]

In [54]:
# zip
for x, y in zip([1, 2, 3], [11, 12, 13]):
    print(x, 'and', y)

1 and 11
2 and 12
3 and 13

In [65]:
def calc_fib(n):
    a = 1
    b = 1
    if n <= 0:
        print('Incorrect input')
    elif n == 1 or n == 2:
        return a
    else:
        for i in range(2, n):
            c = a + b
            a = b
            b = c
        return b

print(calc_fib(10))

55

In [66]:
for i in range(2, 2):
    print(i)

In [67]:
for i in range(2, 3):
    print(i)

2

In [5]:
# lambda


def calc_multi(a, b):
    return a * b

calc_multi(3, 10)

30

In [4]:
(lambda a, b: a * b)(3, 10)

30

In [6]:
# map

def calc_double(x):
    return x * 2


for num in [1, 2, 3, 4]:
    print(calc_double(num))

2
4
6
8

In [7]:
list(map(calc_double, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [8]:
list(map(lambda x: x * 2, [1, 2, 3, 4]))

[2, 4, 6, 8]

In [10]:
# reduce

from functools import reduce
reduce(lambda a, b: a + b, [10, 1, 2, 3])

16

In [13]:
# filter

def is_even(x):
    return x % 2 == 0

num_list = list(range(10)) # [0, 1, 2, 3, 4, 5, 6, 7, 8, 9]
even_list = filter(is_even, num_list)
print(list(even_list))

[0, 2, 4, 6, 8]

In [15]:
even_list2 = filter(lambda x: x % 2 == 0, num_list)
print(list(even_list2))

[0, 2, 4, 6, 8]

In [19]:
# R1-1
sampl_str = 'Data Science'
for c in sampl_str:
    print(c)

D
a
t
a

S
c
i
e
n
c
e

In [20]:
for c in sampl_str:
    print(c, end="")

Data Science

In [21]:
# R1-2
sum(range(1, 51))

1275

In [22]:
sum([1, 2, 3])

6

In [23]:
# S1-1
def calc_prime_num(N):
    n_list = range(2, N + 1)
    for i in range(2, int(N ** 0.5) + 1):
        # Pick up the nums that is not divisible by i. 
        n_list = [x for x in n_list if (x == i or x % i != 0)]
        
    for j in n_list:
        print(j)

calc_prime_num(10)

2
3
5
7